* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#202020, #26006f, #4b0384);
  min-height: 100vh;
  width: 100%;
  color: #ffffff;
  font-family: "Poppins", serif;
}

p {
  font-size: 1.125rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.625rem;
}

.primary-btn {
  border-radius: 36.06px;
  font-weight: 550;
  cursor: pointer;
  height: 43.21px;
  margin-top: 10px;
  padding: 5px;
  background-color: #e3cafb;
  border: none;
  width: 140px;
  color: #280070;
}

.secondary-btn {
  border-radius: 36.06px;
  font-weight: 550;
  cursor: pointer;
  height: 43.21px;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid #e3cafb;
  width: 140px;
  color: #e3cafb;
  background-color: #27006f00;
  height: 43.21px;
}

button:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  h1 {
    font-size: 1.625rem;
  }

  h2 {
    font-size: 1.375rem;

  }

  h3 {
    font-size: 1.25em;
  }

  p {
    font-size: 1rem;
    /* margin-left: 10px; */

  }

  /* main {
    margin-left: 10px;
  } */

}

@media screen and (min-width: 768.1px) and (max-width: 980px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3{
    font-size: 1.5;
  }
}

@media screen and (min-width: 980.1px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3{
    font-size: 1.625;
  }
}
